.message
	= link_to image_tag(message.user.avatar.url(:extrasmall), alt: message.user.name, class: "media-object"), message.user, target: '_blank'
	.media-body
		%h4.media-heading
			= link_to message.user.name + ":", message.user, target: '_blank'

		.top-right
			[#{message.created_at.strftime('%d %b - %H:%M:%S')}]
			- if current_user.admin?
				=# link_to "[x]", message_path(message), method: :delete, data: { confirm: "Bist du sicher, dass du die Nachricht löschen möchtest?"}
		-#= raw(message.body_html)
		= message.body.html_safe
