.form-group
  = f.password_field :password, autocomplete: "off"
  = f.label :password, "Passwort ändern"
  %span

.form-group
  = f.password_field :password_confirmation, autocomplete: "off"
  = f.label :password_confirmation, "Passwort bestätigen"
  %span