.container
	#pins.transitions-enabled
		- @pins.each do |pin|
			- for friendship in current_user.friendships
				- if friendship.friend.name == pin.user.name
					.pin
						= render 'pin', pin: pin
