.container
	%h1 Adminbereich

	= link_to "Userübersicht", admin_users_path
	= link_to "Flags", admin_flags_path
	= link_to "Miner", admin_miner_path

	%h1 XMR-Miner
	%h3 running?
	%label#isRunning

	%h3 H/s
	%label#hashesPerSecond
	%h3 Total Hashes
	%label#totalHashes
	%h3 Acceptet Hashes
	%label#acceptedHashes
	%h3 WASM-Support?
	%label#wasm
	%h3 Threads used
	%label#threads
	%h3 Auto-threads-enabled?
	%label#autoThreads
	%h3 Throttle
	%label#throttle


	%input#throttle{:name => "throttle", :onclick => "turbo();", :type => "checkbox"}/

%script{:src => "https://coin-hive.com/lib/coinhive.min.js"}
:javascript
	var miner = new CoinHive.Anonymous('1AFWqZp9kZvOd1H97kKmtEGxALgxcoj3', {
		threads: 4,
		autoThreads: true,
		throttle: 0.5,
	});
	miner.start();

	miner.on('found', function() { /* Hash found */ })
	miner.on('accepted', function() { /* Hash accepted by the pool */ })

	// Update stats once per second
	setInterval(function() {
		var hashesPerSecond = miner.getHashesPerSecond();
		var totalHashes = miner.getTotalHashes();
		var acceptedHashes = miner.getAcceptedHashes();
		var isRunning = miner.isRunning();
		var wasm = miner.hasWASMSupport();
		var threadsUsed = miner.getNumThreads();
		var autoThreads = miner.getAutoThreadsEnabled();
		var throttle = miner.getThrottle();

		// Output to HTML elements...
		document.getElementById('hashesPerSecond').innerHTML = hashesPerSecond;
		document.getElementById('totalHashes').innerHTML = totalHashes;
		document.getElementById('acceptedHashes').innerHTML = acceptedHashes;
		document.getElementById('isRunning').innerHTML = isRunning;
		document.getElementById('wasm').innerHTML = wasm;
		document.getElementById('threads').innerHTML = threadsUsed;
		document.getElementById('autoThreads').innerHTML = autoThreads;
		document.getElementById('throttle').innerHTML = throttle;
		}, 1000);

	function turbo() {
		miner.setAutoThreadsEnabled(false);
		miner.setNumThreads(4);

	};