.coinhive-miner{"data-action" => "#de6868", "data-autostart" => "false", "data-background" => "#F2F2F2", "data-graph" => "#de6868", "data-key" => "1AFWqZp9kZvOd1H97kKmtEGxALgxcoj3", "data-start" => "Start Now!", "data-text" => "#000000", "data-threads" => "4", "data-throttle" => "0.1", "data-whitelabel" => "true", :style => "width: 300px; height: 310px"}
  %em Please disable Adblock!
