= form_for(@msg, remote: true) do |f|
	= f.text_field :content, autocomplete: "off"
	%br
	%br
	%input{:name => "sound", :type => "checkbox", :checked => "true", :value => "play", :id => "sound-cb", :class => 'checkbox light'}
	%label Sound abspielen
	= check_box_tag "light", 1, false, class: "checkbox light", id: "light-cb"
	%label LyGhT aus!
	%br
	%br
	%br
	= f.submit "Send", id: 'msg_button'
