.container
	.chat
		= render 'msgs'
		= render 'msgs_form'

	.user-list
		%span Chattende Weebs:
		%ul
			- @arr = listOutput("online_list")
			- @arr.each do |a|
				- @u = User.find_by name: a
				%li{ class: "li_#{@u.id}"}= a

	%script{:src => "//ylx-2.com/bnr_safe.php?section=General&pub=933163&format=160x600&ga=g", :type => "text/javascript"}
	%noscript
		%a{:href => "https://yllix.com/publishers/933163", :target => "_blank"}
			%img{:border => "0", :src => "//ylx-aff.advertica-cdn.com/pub/160x600.png"}/


