.container
	.chat
		= render 'msgs'
		= render 'msgs_form'

	.user-list
		%span Chattende Weebs:
		%ul
			- @arr = listOutput("online_list")
			- @arr.each do |a|
				- @u = User.find_by name: a
				%li{ class: "li_#{@u.id}"}= a
	%script{"data-cfasync" => "false", :src => "//s.ato.mx/p.js#id=2237159&size=160x600"}
