.container
	.chat
		= render 'msgs'
		= render 'msgs_form'

	.user-list
		%span Chattende Weebs:
		%ul
			- @arr = listOutput("online_list")
			- @arr.each do |a|
				- @u = User.find_by name: a
				%li{ class: "li_#{@u.id}"}= a
	-#%script{:src => "//mecha.animeads.com/ads/ads.php?t=MTEyMDsxODE7cGhvdG9fYmxvY2subGFyZ2VfMzAw&index=1"}

