.container
	- @users.each do |user|
		= link_to user do
			.searchbox
				= image_tag user.avatar.url(:medium)
				= link_to user.name, user
				= link_to 'send msg', new_personal_message_path(receiver_id: user)
