= render 'aside'
.main
	- if current_user.id == @user.id
		= link_to "+", new_pin_path, id: "new_pin"
	#pins.transitions-enabled
		- @pin.each do |pin|
			.pin
				= render 'pins/pin', pin: pin

				
:javascript
	$(".pin-dropdown").on("click", function(){
		$(this).toggleClass('is-expanded');
	});