- if cookies['cookie_eu_consented'] != 'true'
  .cookies-eu.js-cookies-eu
    %span.cookies-eu-content-holder Cookies helfen uns die Funktionen der Seite bereitzustellen. Beim Nutzen dieser stimmst du der Nutzung von Cookies zu.
    %span.cookies-eu-button-holder
      %button.cookies-eu-ok.js-cookies-eu-ok
        = t('cookies_eu.ok')
      - if defined?(link).present?
        %a.cookies-eu-link{:href => link, :target => "#{defined?(target).present? ? target : ''}"}
          = t('cookies_eu.learn_more')
