.black_fullscreen
	= image_tag("itachi.png")
	%h1 Die Morgendämmerung erwartet dich!
	.buttons
		= link_to "Login", new_user_session_path, class: "btn"
		oder
		= link_to "Registrieren", new_user_registration_path, class: "btn"