App.proom = App.cable.subscriptions.create "ProomChannel",
	connected: ->
		# Called when the subscription is ready for use on the server

	disconnected: ->
		# Called when the subscription has been terminated by the server

	received: (data) ->
		unless data.msg.blank?
			$('#messages-table').append data.msg
			scroll_bottom()
			play_sound()
			$('p img').addClass 'fancybox'
			fancybox()
			$.noConflict()
				

$(document).on 'turbolinks:load', ->
	submit_msg()
	scroll_bottom()
	$('p img').addClass 'fancybox'
	fancybox()
	$.noConflict()

submit_msg = () ->
	$('#msg_content').on 'keydown', (event) ->
		if event.keyCode is 13
			$('#msg_button').click()
			event.target.value = ""
			event.preventDefault()

scroll_bottom = () ->
	try
		$('#msgs').scrollTop($('#msgs')[0].scrollHeight)
	catch

play_sound = () ->
	sound_checkbox = document.getElementById('sound-cb')
	if sound_checkbox.checked
		audio = new Audio("<%= asset_path('knob.mp3') %>")
		audio.play()

fancybox = () ->
	addToAll = false
	gallery = false
	titlePosition = 'over'
	$(if addToAll then 'img' else 'img.fancybox').each ->
		$this = $(this)
		title = $this.attr('title')
		src = $this.attr('data-big') or $this.attr('src')
		a = $('<a href="#" class="fancybox"></a>').attr('href', src).attr('title', title)
		$this.wrap a
		return
	if gallery
		$('a.fancybox').attr 'rel', 'fancyboxgallery'
	$('a.fancybox').fancybox titlePosition: titlePosition
	return
