// Place all the styles related to the guilds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.guildnav
	margin: 20px auto
	width: 276px
	margin-top: -39px

	li
		float: left
		list-style: none
		padding: 8px 0
		background: #373F41
		width: 88px
		text-align: center
		border: 2px solid #373f41
		cursor: pointer

		a
			color: #BEBEBE

	li:hover a
		color: #D36969

@media screen and (max-width: 1251px)
	.guildnav
		display: flex
		margin: auto

.kage
	margin: 0 auto
	width: 300px
	p
		text-align: center
		background: #DE6565
		margin-top: -4px
		padding: 6px
		font-size: 25px

.jonin
	min-height: 158px
	.box100
		width: 100px
		float: left
		p
			text-align: center
			background: #DE6565
			margin-top: -4px
			padding: 3px
			font-size: 20px
.chunin
	min-height: 100px
	.box50
		width: 50px
		float: left
		p
			text-align: center
			margin-top: -4px
			font-size: 12px

$headingColor: #DE6565
.guild
	
	h2
		margin: 10px 0
		color: $headingColor



	h2
		text-align: center
		overflow: hidden
		span
			display: inline-block
			position: relative
			
			&:before, &:after
				content: ""
				border-bottom: 2px solid $headingColor
				width: 100em
				margin: 0 1.5em
				position: absolute
				bottom: .5em
			
			&:before
				right: 100%
			
			&:after
				left: 100%

#treppchen
	width: 809px
	margin: 0 auto

	.first
		margin-top: 10px

	.second, .third
		width: 250px

	span
		font-size: 60px
		color: $headingColor
	span:nth-of-type(odd)
		margin: 0 108px
	span:nth-of-type(2)
		margin: 0 134px
