.main
	float: right
	width: calc(100% - 340px)
	padding: 10px
	position: relative
	z-index: -2

	#new_pin
		text-align: center
		margin: 0 auto
		display: block
		width: 15%
		background: #DE6565
		color: #3d3d3d
		font-size: 30px
		position: relative
		z-index: -2

	#pins
		margin: 0 auto
		z-index: -1

	.add
		width: 100px
		height: 100px


.pin
	background: white
	float: left
	margin: 10px
	width: 325px
	word-wrap: break-word
	box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15)
	z-index: -2
	h1
		margin: 10px 30px
	h2
		margin: 0 30px
		color: #DE6565
		font-size: 20px
		font-weight: 500

	p
		font-size: 18px
		color: #000000
		margin: 30px
		line-height: 25px

	.pin-dropdown-head
		display: inherit
		height: 24px
		padding: 8px
	.pin-dropdown
		position: absolute
		z-index: 2
		right: 30px
		margin-top: 5px
		cursor: pointer
		overflow: hidden
		width: 100px
		height: 45px
		-webkit-transition: height 0.2s cubic-bezier(0.19, 1, 0.22, 1)
		-moz-transition: height 0.2s cubic-bezier(0.19, 1, 0.22, 1)
		transition: height 0.2s cubic-bezier(0.19, 1, 0.22, 1)
		.pin-dropdown-head
			position: relative
			margin-bottom: 5px
			.PinMenuIcon
				bottom: 0
				top: 0
				margin: auto
				position: absolute
				right: 14px
				height: 10px
				width: 12px
				.MenuIcon-line
					background: #DE6565
					display: inline-block
					height: 2px
					margin: auto
					position: absolute
					width: 100%
					-webkit-transition: all 0.2s ease-in-out
					-moz-transition: all 0.2s ease-in-out
					transition: all 0.2s ease-in-out
					&:nth-child(1)
						top: 0
					&:nth-child(2)
						top: 50%
					&:nth-child(3)
						top: 100%
		.pin-dropdown-body

		.pin-dropdown.is-expanded
			height: 300px
			background: black
		.pin-dropdown.is-expanded .MenuIcon-line
			&:nth-child(1), &:nth-child(3)
				top: 50%


	.votes
		display: inline-block
		span
			display: inline-block
			text-align: center

		.icon-heart, .icon-trash
			font-size: 20px
			margin-right: 0
			color: rgba(152, 151, 151, 0.5)
			&:hover
				color: #DE6565
				opacity: 0.5
				cursor: pointer
		.red-icon
			color: #DE6565

	.flag
		position: absolute
		bottom: 5px
		right: 3px
		opacity: 0.2

	.flag:hover
		opacity: 1

	img
		width: 325px
		margin-bottom: -24px

	.time
		color: rgba(152, 151, 151, 0.5)
		margin-left: 30px
		margin-bottom: 30px
	.time-span
		color: rgba(152, 151, 151, 0.5)

	.user
		display: inline-flex
		margin-right: 30px
		float: right
		margin-top: -10px
		img
			width: 30px
			height: 30px
			border-radius: 0
			margin: 0
			float: left
			margin-right: 10px
			border-radius: 100px

		p
			margin: 0
			line-height: 30px

.pin-show
	float: none
	margin: 20px auto

.pintype
	background: #DE6565
	color: #3d3d3d
	display: inline-block
	padding: 10px


#good, #bad
	width: 50%
	float: left

	& > h1
		text-align: center
		border-bottom: 2px solid #DE6565

/*@media (max-width: 920px)
	#bad
		display: none
	#good, #bad
		width: 100%*/
