@import url(https://fonts.googleapis.com/css?family=Droid+Sans)
@font-face
	font-family: "Old English Text MT"
	src: asset-url("old-english-text-mt.ttf") format('truetype')

$footerheight: 180px
*
	margin: 0
	padding: 0
	font-family: "Droid Sans"

html, body
	height: 100%

body
	#notice_wrapper
		position: absolute
		top: 0
		width: 100%
		z-index: 999
		background-color: #69BF8F

		p
			padding: 1.45rem 0
			text-align: center
			margin: 0
			font-size: 1.25rem
			font-weight: 700
			color: #2C503C

	#alert_wrapper
		position: absolute
		top: 0
		width: 100%
		z-index: 999
		background-color: #BF6969

		p
			padding: 1.45rem 0
			text-align: center
			margin: 0
			font-size: 1.25rem
			font-weight: 700
			color: #502C2C

	main
		position: absolute
		width: 100%
		z-index: 1
		min-height: 100%
		margin-bottom: $footerheight
		background: #f2f2f2

	footer
		position: fixed
		width: 100%
		right: 0
		bottom: 0
		left: 0
		height: $footerheight
		background: #373F41

		ul
			width: 594px
			margin: 3em auto

			li
				list-style: none
				padding: 0 10px
				display: block
				float: left
				color: #dcdcdc

		hr
			width: 740px
			margin: 1em auto
			border-color: #A9A9A9

		p
			text-align: center
			color: #A9A9A9
a
	text-decoration: none
	color: #D36969

hr
	border: 1px solid #D4D4D4

.btn
	color: #3D3D3D
	background-color: #DE6565
	padding: 10px
	margin: 2px
	border: none
	cursor: pointer

.heading
	float: left
	font-size: 15pt
	position: absolute
	padding-top: 7px
	a
		color: white
		font-family: "Old English Text MT"

nav
	background-color: #373F41
	padding: 5px
	padding-left: 30px
	padding-right: 30px
	height: 40px
	display: -webkit-flex
	display: -webkit-box
	display: -ms-flexbox
	display: flex
	vertical-align: super
	position: relative
	z-index: 1

	ul
		right: 20px
		position: absolute

		li
			list-style: none
			padding: 10px

			a
				color: #BEBEBE
				font-size: 13pt
				margin-top: 10px
				vertical-align: super

			a:hover
				color: white

		li:hover ul
			visibility: visible
			background-color: #373F41
			z-index: 99

		ul
			visibility: hidden

	img
		border-radius: 100%
		height: 20px

	form
		margin: 0 auto
		input[type=text]
			background-color: inherit
			border: 2px solid #656565
			height: 30px
			padding-left: 15px
			color: #A5A5A5
			margin-top: 3px

		.btn
			height: 34px
			margin: 0
			padding: 0 10px


.container
	width: 75%
	margin: 0 auto








/* GILDEN */
.gilde, .about
	header
		background-color: #DE6565
		padding: 20px
		min-height: 300px


		img
			float: left
			margin-right: 10px

		textarea
			width: calc( 100% - 312px)
			height: 200px
			min-width: 300px
			border-color: #FF7A7A
			resize: none
			font-size: inherit
			background-color: inherit
		p.bio
			display: flex
			min-height: 236px
			min-width: 300px

		p.snap
			background-color: #ece000
			line-height: 32px
			height: 32px
			display: inline-block
			padding-right: 5px
			color: white
			font-size: 15pt


		.sozialimg
			margin-right: 0

	textarea
		width: 100%
		font-size: 15pt
		resize: none
		background-color: inherit
		height: 800px

	.favourites, .kanban
		margin: 20px auto
		border-spacing: 0px
		th
			font-size: 25pt
			border-bottom: 3px solid #DE6565
			color: #8C8C8C
			padding-bottom: 3px
		td
			font-size: 20pt

		input[type=text]
			font-size: 20pt

	.kanban
		th
			font-size: 25pt
			border-bottom: 3px solid #DE6565
			color: #8C8C8C
			padding-bottom: 3px

		td
			font-size: 20pt
	.score
		img
			width: 18px

.newgilde
	header
		position: absolute
		width: 100%
	.btn
		position: absolute
		top: 420px

/*SEARCH*/

.searchbox
	height: 350px
	width: 200px
	float: left
	margin-top: 10px

	img
		width: 150px
		margin: 0 auto
		display: block

	a
		display: table
		margin: 0 auto
		font-size: 25px



/*Cookies*/

.cookies-eu
	.cookies-eu-button-holder
		.cookies-eu-ok
			background: #DE6565
			color: #3D3D3D
/* END */


input:-webkit-autofill
	-webkit-box-shadow: 0 0 0 500px #373F41 inset

.field
	#image
		max-width: 200px
		max-height: 200px



.serious, .shit
	width: 335px
	float: left

	.zentriert
		text-align: center




a.fancybox img
	border: none
	-o-transform: scale(1,1)
	-ms-transform: scale(1,1)
	-moz-transform: scale(1,1)
	-webkit-transform: scale(1,1)
	transform: scale(1,1)
	-o-transition: all 0.2s ease-in-out
	-ms-transition: all 0.2s ease-in-out
	-moz-transition: all 0.2s ease-in-out
	-webkit-transition: all 0.2s ease-in-out
	transition: all 0.2s ease-in-out

a.fancybox:hover img
	position: relative
	z-index: 999
	-o-transform: scale(1.03,1.03)
	-ms-transform: scale(1.03,1.03)
	-moz-transform: scale(1.03,1.03)
	-webkit-transform: scale(1.03,1.03)
	transform: scale(1.03,1.03)
