.status
	width: calc(80% - 300px)
	margin: 0 auto
	background: #DE6565
	text-align: center
	padding: 25px 100px
	font-size: 25px
	margin-bottom: 10px

.bio
	line-height: 1.5
	padding: 4em 1em
	color: #555

	h2
		margin-top: 1em
		padding-top: 1em

	h1, h2, strong
		color: #333

	ul, ol
		margin-left: 3em

	hr
		margin: 2em 0

.gender
	color: #DE6565
	position: absolute
	top: 275px
	right: 10px

.sozialimg
	margin-top: 5px
	margin-left: 0

.snap
	position: inherit
	margin-top: 5px
	background-color: #ece000
	line-height: 32px
	height: 32px
	display: inline-block
	padding-right: 5px
	color: white
	font-size: 15pt

.status
	textarea
		background: none
		width: 100%
		resize: vertical
		font-size: 25px

#user_bio
	width: 100%
	resize: vertical
	height: 500px